@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Parcel hinzufügen</li>
            <li>Parcel reporten</li>
            <li>Parcel tracken</a></li>
        </ul>
    </div>
</div>
