@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Submit parcel</li>
            <li>Track Parcel</li>
            <li>Report Hop</li>
        </ul>
    </div>
</div>
